<div class="container my-3">
  <p class="h2">  <%= link_to '<', webapp_transactions_path, class: 'btn btn-outline-secondary btn-lg' %>
    Edit <%= @transaction.transaction_type.capitalize %></p>
</div>
<div class="container my-3">
  <%= render 'form' %>
</div>