<tr>
  <td style="background: <%= category.hex_color %>; width: 20px"></td>
  <td><%= category.name %></td>
  <td>
    <div class="d-inline-block">
      <%= link_to t('labels.edit'), edit_desktop_category_path(category), class: "btn btn-sm btn-link d-inline" %>
    </div>
    <div class="d-inline-block">
      <%= button_to t('labels.destroy'), desktop_category_path(category), method: :delete, class: "btn btn-sm btn-link d-inline" %>
    </div>
  </td>
</tr>