<h2>Costs</h2>
<div class="text-end">
  <%= link_to t('labels.new'), new_desktop_cost_path, class: 'btn btn-sm btn-primary' %>
</div>

<%= render 'desktop/costs/filters' %>
<div class="table-responsive small">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Paid</th>
      <th scope="col">Fixed</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'desktop/costs/cost', collection: @costs, as: :cost %>
    </tbody>
  </table>
</div>