<div class="container my-3">
  <p class="h2">  <%= link_to '<', webapp_categories_path, class: 'btn btn-outline-secondary' %> New category</p>
</div>
<div class="container my-3">
  <%= render 'form' %>
</div>