<div class="container my-3">
  <div class="row">
    <div class="col text-start">
      <h1>Transactions</h1>
    </div>
    <div class="col text-end">
      <%= link_to 'Add new +', new_mobile_transaction_path, class: 'btn btn-primary -btn-lg' %>
    </div>
  </div>
</div>
<div class="container my-3">
  <%= link_to 'Go to categories', mobile_categories_path, class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
</div>
<div class="container my-3">
  <% if @transactions.any? %>
    <%= render partial: 'mobile/transactions/transaction_card', collection: @transactions, as: :transaction %>
  <% else %>
    <div class="alert alert-info" role="alert">
      <%= t('labels.no_transactions') %>
    </div>
  <% end %>
</div>