<h2>Transactions</h2>
<div class="text-end">
  <%= link_to t('labels.new'), new_desktop_transaction_path, class: 'btn btn-sm btn-primary' %>
</div>

<%= render 'desktop/transactions/filters' %>
<%= render 'desktop/transactions/report' %>
<div class="table-responsive small">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Paid</th>
      <th scope="col">Fixed</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'desktop/transactions/transaction', collection: @transactions, as: :transaction %>
    </tbody>
  </table>
</div>