<h2>New <%= @transaction_type.present? ? t("activerecord.labels.transaction.#{@transaction_type}") :
              t("activerecord.models.transaction.one") %></h2>

<%= render 'form', category: @transaction %>

<%= link_to t('labels.back'), console_transactions_path %>